{% extends 'base.html.twig' %}

{% block title %}Edit Despacho{% endblock %}

{% block body %}
    <h1>Edit Despacho</h1>

    {{ include('despacho/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('despacho_index') }}">back to list</a>

    {{ include('despacho/_delete_form.html.twig') }}
{% endblock %}
