{% extends 'base.html.twig' %}

{% block title %}New Despacho{% endblock %}

{% block body %}
    <h1>Create new Despacho</h1>

    {{ include('despacho/_form.html.twig') }}

    <a href="{{ path('despacho_index') }}">back to list</a>
{% endblock %}
